body
{


}




.navbar_custom {
background-color:red;
color:white;
text-align:center;
}

.card {
	margin: 50px auto;
	float: none;
	margin-bottom: 1px;
}
.navbar_custom2 {
background-color:green;
color:white;
text-align:center;
}

.navbar_custom3 {
background-color:pink;
color:white;
text-align:center;
}

.navbar_custom4 {
background-color:yellow;
color:green;
text-align:center;
}

.colorOne
{
	background-color: orange;
}